@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Open+Sans&display=swap');

body {
    background-color: #54416d;
}
#logo {
    width: 200px;
    height: 200px;
}
nav {
    background-color: #75b4e3; 
    text-align: center;
    font-weight: bold;
    padding: 0.5em;
    box-shadow: 0 3px 20px; 
}

nav ul {
    margin: 0; 
    padding: 0; 
    list-style: none; 
    overflow: hidden;
}

nav li a {
    display: block; 
    text-align: center;
    padding: 1rem;
    text-decoration: none;   
    color:#31255a; 
}

nav a:hover {
    background-color: whitesmoke;
    color: #54416d; 
    padding: 15px;
}

.container {
    margin: auto;
    width: 100%;
}
header {
    font-family: 'Merriweather', serif; 
    font-weight: bold
}
.header {
    display: flex;
    justify-content: center;
}

main {
    font-family: 'Open Sans', sans-serif;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px
}
.navigation{
    content: "";
    display: table;
    clear: both;
}
.box {
    background-color: rgb(207, 195, 221);
    border: 5px black;
    padding: 25px;
    margin: 20px;
}

footer {
    font-family: 'Merriweather', serif;
    background-color: #75b4e3;
    text-align: center;
    color:#31255a;
    font-weight: bold;
    margin: auto;
    padding: 0.5em;
    max-width: 960px;
}
.footerlink {
    color:blue; 
}
ul{
    font-family: 'Merriweather', serif;
    background-color: #75b4e3;
    text-align: center;
    color:#31255a;
    font-weight: bold;
    margin: auto;
    padding: 0.5em;
    max-width: 960px;
}
