main {
    font-family: 'Oxygen', sans-serif;
}
table {
    border-collapse: collapse;
    box-shadow: 0 0 20px rgb(58, 56, 56);
    position: absolute;
    
    left: 40%;
    margin-right: -30%;
}

#november {
    background-color: #5b8199; 
}
th {
    background-color: #5b8199;
    color: white;
}

td,th {
    border: 1px solid lightgray;
    text-align: center;
    padding: 8px;
}

caption {
    background-color:  #7fb9c2;
    font-size: 25px;
    font-weight: bold;
}

.foot {
    background-color:  #5b8199;
}

tr:nth-child(even) {
    background-color: #e8fced;
}
tr:nth-child(odd) {
    background-color: #e6f0ec;
}
