@media only screen and (min-width: 35rem) {

    .forecast{
        display: block;
        width: 100%;
    }
    nav button {display: none;}

    nav ul.hide {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: flex; 
        margin-left: 2%;
    }

    nav ul li a{
    border: none;
    padding: .5rem 1rem; 
    }
    .gallery-images {
        grid-template-columns: 1fr 1fr;
    }

    .grid-img p {
        width: 100%
    }
}