@media only screen and (min-width: 64rem) {

    header {
       width: 100%; 
    }
    nav ul.hide {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left; 
    }

    nav ul li a
    {border: none;
    padding: .8rem 1rem; 
    }
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        
        }
    
    .left {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center; 
        
    }

    .title {
        text-align: center;
        color: white;
    }

    .name {
        display: block; 
        text-align: left;
    }